@model IEnumerable<StudentAdministration.Client.Models.Subjects.GetStudentsBySubjectViewModelItem>

@{
    ViewData["Title"] = "Students";
}

<partial name="_Notification" />

<h1 style="text-align:center">Students</h1>

@if (Model.Count() > 0)
{
    <table class="table table-hover table-responsive-sm display" style="text-align:center">
        <thead>
            <tr>
                <th style="width:30%">
                    @Html.DisplayNameFor(model => model.StudentIndex)
                </th>
                <th style="width:30%">
                    @Html.DisplayNameFor(model => model.StudentFullName)
                </th>
                <th style="width:15%">
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th style="width:15%"></th>
            </tr>
        </thead>
    </table>

    @foreach (var item in Model)
    {
        <form asp-controller="Subjects" asp-action="SetGrade" method="post">
            <input type="hidden" name="SubjectId" value="@item.SubjectId" />
            <input type="hidden" name="SubjectPartitionKey" value="@item.SubjectPartitionKey" />
            <input type="hidden" name="StudentId" value="@item.StudentId" />
            <input type="hidden" name="StudentPartitionKey" value="@item.StudentPartitionKey" />

            <table class="table table-hover table-responsive-sm display" style="text-align:center">
                <tbody>
                    <tr>
                        <td style="width:30%">@Html.DisplayFor(modelItem => item.StudentIndex)</td>
                        <td style="width:30%">@Html.DisplayFor(modelItem => item.StudentFullName)</td>
                        <td style="width:15%">
                            <input type="number" name="Grade" value="@item.Grade" min="5" max="10"/>
                        </td>
                        <td style="width:15%">
                            <button type="submit" class="btn btn-primary form-group">Set Grade</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    }
}
else
{
    <div class="d-flex justify-content-center mt-3">
        No content
    </div>
}